<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    <link href="/Contents/css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/Contents/js/scripts.js"></script>
    <title>COOK BOOK</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper cyan darken-1">
        <a href="/" class="brand-logo">Cookbook</a>
      </div>
    </nav>
    <div class="container">
      @RenderBody()
    </div>
    <footer class="page-footer cyan darken-1">
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Text
          <p class="grey-text text-lighten-4 right">Do not contact us at <a href="mailto:webmaster@harvard.edu">Sam And Minh Cookbook</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
