@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col m12">
    <a href="/categories">See all categories</a>
    <a href="/recipes">See all recipes</a>
    <a href="/ingredients">See all ingredients</a>
  </div>
</div>
