footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer.page-footer {
    padding-top: 0px;
}

div.invalid-entry {
    color: red;
    margin-top: 5%;
    display: none;
}

/*div.hidden-div {
  display: none;
}*/

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
     background-color: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
     border: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: none;
}
