footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer.page-footer {
    padding-top: 0px;
}

div.invalid-entry {
    color: red;
    margin-top: 5%;
    display: none;
}

/*div.hidden-div {
  display: none;
}*/
